.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }.jumbotron{
      margin-bottom: 0px;
  }footer {
    background-color: #f2f2f2;
    padding: 25px;
  }.sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }.bg-red{
    background-color: yellowgreen;
  }.mgt-8{
    margin-top: 8px;
  }.d-flex{
    display: flex;
  }.mgt-10{
    margin-top: 10px;
  }